/*Fonts*/
@font-face {
	src: url(../fonts/Brandon_bld.otf);
	font-family: Brandon_bld;
}
@font-face {
	src: url(../fonts/Brandon_light.otf);
	font-family: Brandon_light;
}
@font-face {
	src: url(../fonts/Brandon_med.otf);
	font-family: Brandon_med;
}
@font-face {
	src: url(../fonts/Brandon_reg.otf);
	font-family: Brandon_reg;
}

/*Global CSS*/
* {
	margin: 0;
	padding: 0;
	outline: 0; 
}
body {
	font-family: Brandon_reg;
}
.container {
	width: 68%;
	margin: 0 auto;
}

/*Header CSS Start*/
.header {
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),url(../images/banner.jpg);
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navbar {
    padding-top: 40px;
    overflow: hidden;
}
.logo {
	width: 30%;
	float: left;
}
.logo img {}

.menu {
	width: 65%;
	float: right;
}
.menu ul {
	float: right;
}
.menu ul li {
	list-style: none;
	float: left;
}
.menu ul li a {
    margin-right: 30px;
    padding: 7px 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
}
.menu ul li:last-child a {
	margin-right: 0;
}
.menu ul li a:hover {
	border-bottom: 1px solid #fff;
}
.hero-area {
    padding-top: 130px;
    text-align: center;
    color: #fff;
}
.hero-area h1 {
	font-family: Brandon_light;
	font-size: 32px;
	font-weight: 300;
}
.hero-area h2 {
	margin-top: 13px;
	font-family: Brandon_med;
	font-size: 66px;
	font-weight: 700;
	text-transform: uppercase;
}
.hero-area button {
	margin-top: 60px;
	width: 235px;
	height: 60px;
	font-family: Brandon_bld;
	font-size: 23px;
	font-weight: 700;
	color: #fff;
	background: transparent;
	border: 2px solid #fff;
	transition: .3s;
}
.hero-area button:hover {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(255, 255, 255, 0.6);
    color: #222222;
}
/*Header CSS End*/

/*About CSS Start*/
.about {}
.single {
	padding: 100px 0;
	overflow: hidden;
}
.s-text {
	width: 65%;
	float: left;
}
.s-text h1 {
	font-family: Brandon_light;
	font-size: 60px;
	font-weight: 200;
	color: #222222;
}
.title {
	font-family: Brandon_reg;
	font-weight: 900;
}
.s-text p {
	margin-top: 28px;
	font-size: 18px;
	color: #777777;
}
.s-img {
    margin-top: 20px;
    width: 30%;
    float: right;
}
/*About CSS End*/

/*About1 CSS Start*/
.about1 {
	background: #FAFAFA;
}
.single1 {
	padding: 100px 0;
	overflow: hidden;
}
.s-text1 {
	width: 65%;
	float: right;
}
.s-text1 h1 {
	font-family: Brandon_light;
	font-size: 60px;
	font-weight: 200;
	color: #222222;
}
.title {
	font-family: Brandon_reg;
	font-weight: 900;
}
.s-text1 p {
	margin-top: 28px;
	font-size: 18px;
	color: #777777;
}
.s-img1 {
    margin-top: 40px;
    width: 30%;
    float: left;
}
/*About1 CSS End*/

/*Feature CSS Start*/
.feature {}
.wrapper {
    margin-top: 100px;
    margin-bottom: 52px;
    overflow: hidden;
}
.f_single {
    margin-bottom: 48px;
    margin-right: 10%;
    width: 45%;
    float: left;
}
.f_single:nth-child(even) {
	margin-right: 0;
}
.left {
	width: 25%;
	float: left;
	overflow: hidden;
}
.circle {
	position: relative;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: #222222;
}
#one {
	position: absolute;
    left: 23px;
    top: 10px;
}
#two {
    position: absolute;
    left: 15px;
    top: 16px;
}
#three {
    position: absolute;
    left: 17px;
    top: 15px;
}
#four {
    position: absolute;
    left: 16px;
    top: 20px;
}
#five {
    position: absolute;
    left: 15px;
    top: 14px;
}
#six {
	position: absolute;
    left: 18px;
    top: 18px;
}
.right {
	width: 78%;
	float: right;
}
.r-top {}
.r-top h3 {
    font-family: Brandon_med;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 3px;
}
.r-top p {
	font-size: 18px;
	color: #777777;
}
/*Feature CSS End*/

/*Client CSS Start*/
.client {
	background-color: #FAFAFA;
}
.wrapper1 {
    padding: 100px 0;
    overflow: hidden;
}
.c-text {
	margin-bottom: 43px;
	text-align: center;
}
.c-text h1 {
	font-family: Brandon_light;
	font-size: 60px;
	font-weight: 200;
	color: #222222;
}
.c-text p {
	font-size: 22px;
	color: #777777;
}
.c-com1 {
	margin-bottom: 25px;
	overflow: hidden;
}
.c-com1 .c-left {
	width: 26%;
	float: left;
}
.c-com1 .c-left .c-circle {
	background: #111111;
	width: 224px;
    height: 220px;
    border-radius: 50%;
    border: 6px solid #fff;
}
.c-com1 .c-right {
    width: 70%;
    float: right;
    margin-top: 31px;
    border: 1px solid #ededed;
}
.c-com1 .c-right h3 {
    padding: 33px 60px 5px 60px;
    font-size: 26px;
    font-weight: 400;
    color: #777777;
}
.c-com1 .c-right p {
    padding-left: 60px;
    font-size: 20px;
    color: #b976c5;
}
#talkbubble {
    width: 640px;
    height: 174px;
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 0;
}
#talkbubble:before {
    position: absolute;
    content: '';
    height: 34px;
    width: 34px;
    background: white;
    box-shadow: 1px 1px 0 0 #ededed;
    left: 0;
    top: 42%;
    margin-left: -17px;
    transform: rotate(135deg);
}
.c-com2 {
	overflow: hidden;
}
.c-com2 .c-left {
	margin-top: 31px;
	width: 70%;
	float: left;
	border: 1px solid #ededed;
}
.c-com2 .c-left h3 {
	padding: 33px 60px 5px 60px;
    font-size: 26px;
    font-weight: 400;
    color: #777777;
}
.c-com2 .c-left p {
	padding-left: 60px;
    font-size: 20px;
    color: #b976c5;
}
#talkbubble1 {
    width: 640px;
    height: 174px;
    background: white;
    position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 0;
}
#talkbubble1:before {
    position: absolute;
    content: '';
    height: 34px;
    width: 34px;
    background: white;
    box-shadow: 1px 1px 0 0 #ededed;
    right: 0;
    top: 42%;
    margin-right: -17px;
    transform: rotate(-45deg);
}
.c-com2 .c-right {
	width: 26%;
	float: right;
}
.c-com2 .c-right .c-circle {
	background: #111111;
	width: 224px;
    height: 220px;
    border-radius: 50%;
    border: 6px solid #fff;
}
/*Client CSS End*/

/*Brand CSS Start*/
.brand {}
.wrapper2 {
    padding: 60px 0;
    width: 87%;
    margin: 0 auto;
    overflow: hidden;
}
.b-img {
    margin-right: 6%;
    float: left;
}
.b-img:last-child {
    margin-right: 0;
}
#modify {
    margin-top: 6px;
}
.b-img img {}
/*Brand CSS End*/

/*Team CSS Start*/
.team {
    padding: 100px 0;
    background: #111111;
}
.t-text {
	text-align: center;
}
.t-text h1 {
	font-family: Brandon_light;
	font-size: 60px;
	font-weight: 200;
	color: #fff;
}
.t-text p {
	font-size: 22px;
	color: #777777;
}
.t-middle {
    overflow: hidden;
    padding-top: 70px;
    padding-bottom: 40px;
}
.t-single {
    width: 30%;
    float: left;
}
.t-single:first-child {
	margin-left: 5%;
}
.t-circle1 {
	background: #111111;
    width: 224px;
    height: 220px;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: 0 auto;
    margin-bottom: 10px;
}
.t-text1 {
    text-align: center;
    margin-bottom: 5px;
    color: #fff;
}
.t-social {
	width: 58%;
	margin: 0 auto;
	overflow: hidden;
}
.social-img {
    float: left;
    border: 4px solid #fff;
    position: relative;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #111111;
    margin-left: 5%;
    cursor: pointer;
    transition: .3s;
}
.img1:hover {
	background: #00ACED;
	border: 4px solid #00ACED;
}
.img2:hover {
	background: #3B5998;
	border: 4px solid #3B5998;
}
.img3:hover {
	background: #CB2028;
	border: 4px solid #CB2028;
}
.img4:hover {
	background: #D95232;
	border: 4px solid #D95232;
}
.box {
    margin-left: 20%;
}
#img1 {
    position: absolute;
    top: 10px;
    left: 8px;
}
#img2 {
    position: absolute;
    top: 8px;
    left: 12px;
}
#img3 {
    position: absolute;
    top: 7px;
    left: 10px;
}
#img4 {
    position: absolute;
    top: 10px;
    left: 10px;
}

.t-bottom {
    text-align: center;
    padding: 0 15%;
}
.t-bottom p {
	font-size: 20px;
	color: #ebebeb;
}
/*Team CSS End*/

/*Footer Top CSS Start*/
.footer-top {
	color: #fff;
	background: #7690C5;
}
.wrapper4 {
    padding: 100px 0;
    overflow: hidden;
}

.ft-left {
	width: 47%;
	float: left;
}
.ft-top {}
.ft-top h1 {
	font-family: Brandon_light;
	font-size: 60px;
	font-weight: 200;
}
.title {
	font-family: Brandon_reg;
	font-weight: 900;
}
.ft-top p {
	font-size: 18px;
}
.ft-bottom {
    margin-top: 40px;
}
.ft-single {
    margin-right: 9%;
    margin-bottom: 5%;
    width: 45%;
    float: left;
}
.ft-single:nth-child(even) {
	margin-right: 0;
}
.ft-img {
	margin-top: 3px;
	width: 15%;
	float:left;
}
.ft-img img {}
.ft-text {
    width: 80%;
    float: right;
    cursor: pointer;
}
.ft-text p {
    display: inline-block;
    padding-bottom: 6px;
    font-size: 18px;
}
.ft-text p:hover {
    border-bottom: 1px solid #fff;
}
.ft-right {
	width: 47%;
	float: right;
}
.ft-form {}
.ft-form input {
    margin-bottom: 26px;
    padding: 18px;
    width: 91%;
    border: none;
    border-radius: 5px;
}
.ft-form textarea {
    margin-bottom: 26px;
    padding: 18px;
    width: 91%;
    border: none;
    height: 110px;
    border-radius: 5px;
}
.ft-form button {
    width: 100%;
    border: none;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    color: #777;
    cursor: pointer;
    border-radius: 5px;
}
.ft-form button:hover {
	background: #00ACED;
	color: #fff;
}
/*Footer Top CSS End*/

/*Footer CSS Start*/
.foot {
	background: #7690C5;
	text-align: center;
}
.wrapper5 {
	border-top: 1px solid #ddd;
	padding-top: 30px;
	padding-bottom: 35px;
}
.foot p {
	font-family: Brandon_med;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
/*Footer CSS End*/